backend/node-red/flows.json
[
  {
    "id": "flow_main",
    "type": "tab",
    "label": "Wind Turbine Digital Twin",
    "disabled": false,
    "info": "Flow principal para procesar datos del Digital Twin de la turbina eólica"
  },
  {
    "id": "mqtt_in",
    "type": "mqtt in",
    "z": "flow_main",
    "name": "Sensor Data",
    "topic": "windturbine/sensors",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 130,
    "y": 140,
    "wires": [["json_parse", "debug_raw"]]
  },
  {
    "id": "json_parse",
    "type": "json",
    "z": "flow_main",
    "name": "Parse JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 310,
    "y": 140,
    "wires": [["process_data", "debug_parsed"]]
  },
  {
    "id": "process_data",
    "type": "function",
    "z": "flow_main",
    "name": "Process & Enrich",
    "func": "// Enriquecer datos con metadata adicional\nconst enrichedData = {\n    ...msg.payload,\n    processedAt: new Date().toISOString(),\n    source: 'node-red',\n    version: '1.0'\n};\n\n// Añadir alertas si es necesario\nif (enrichedData.temperature > 45) {\n    enrichedData.alert = 'HIGH_TEMPERATURE';\n} else if (enrichedData.windSpeed > 20) {\n    enrichedData.alert = 'HIGH_WIND';\n} else {\n    enrichedData.alert = null;\n}\n\nmsg.payload = enrichedData;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 140,
    "wires": [["websocket_out", "mqtt_processed", "debug_processed"]]
  },
  {
    "id": "websocket_out",
    "type": "websocket out",
    "z": "flow_main",
    "name": "WebSocket Output",
    "server": "ws_server",
    "client": "",
    "x": 720,
    "y": 100,
    "wires": []
  },
  {
    "id": "mqtt_processed",
    "type": "mqtt out",
    "z": "flow_main",
    "name": "Processed Data",
    "topic": "windturbine/processed",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker",
    "x": 730,
    "y": 180,
    "wires": []
  },
  {
    "id": "debug_raw",
    "type": "debug",
    "z": "flow_main",
    "name": "Debug Raw",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 310,
    "y": 80,
    "wires": []
  },
  {
    "id": "debug_parsed",
    "type": "debug",
    "z": "flow_main",
    "name": "Debug Parsed",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 500,
    "y": 80,
    "wires": []
  },
  {
    "id": "debug_processed",
    "type": "debug",
    "z": "flow_main",
    "name": "Debug Processed",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 730,
    "y": 240,
    "wires": []
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "Mosquitto Broker",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "node-red-client",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "ws_server",
    "type": "websocket-listener",
    "path": "/ws/turbine",
    "wholemsg": "true"
  }
]
